<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder
	
			<h1>Listing for Webinare</h1>

		<f:flashMessages />

		<table  class="tx_mwwebinare" >
			<tr>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.titel" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.versionsschulung" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.beschreibung" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.link" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.standort" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.dauer" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.grueneslabel" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.status" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.buttonbuchendeaktiv" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.verfuegbarkeit" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.ticket" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.ticketverfuegbar" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.bilder" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.video" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_webinare.youtubecode" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{webinares}" as="webinare">
				<tr>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.titel}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.versionsschulung}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.beschreibung}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.link}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.standort}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.dauer}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.grueneslabel}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.status}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.buttonbuchendeaktiv}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.verfuegbarkeit}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.ticket}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.ticketverfuegbar}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.bilder}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.video.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{webinare : webinare}"> {webinare.youtubecode}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{webinare : webinare}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{webinare : webinare}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Webinare</f:link.action>

	<f:section name="content">
		
		<div class="content-text bg-light padbot84"
							data-content="text" data-layout="page-introduction-h1">
							<div class="container ">
								
								<div id="optionsiso2">
										<div id="filters2" class="button-group">  
											
										<f:for each="{kategoriens}" as="kategorie"><f:if condition="{kategorie.uid} == '3'"><f:else>
											<button class="buttonf" data-filter=".kat_{kategorie.uid}">{kategorie.kategorie}</button>
										</f:else></f:if></f:for>
										</div>
									</div>

									<div class="clr h24"></div>
								
							<div id="containerisotop2">
								
								<div class="row rowouter">
									<f:for each="{webinares}" as="webinare">
									<div class="col-lg-4 col-md-6 col-sm-12 element-item2 transition <f:for each="{webinare.object.kategorien}" as="kategorie">kat_{kategorie.uid} </f:for>">
										<div class="webinarbox">
<f:comment>
//+1483/econcess
//+1698/econcess
</f:comment>
											<f:if condition="{webinare.linktext} != ''">
											<f:then>
									
											</f:then>
											<f:else>
											<f:link.action action="show" pageUid="{settings.detailseite}" arguments="{webinare : webinare.uid, termine: webinare.terminuid}">
												<f:render section="contentdetail" arguments="{webinare: webinare}"/>
											</f:link.action>
											</f:else>
											</f:if>
<f:comment>
//-1698/econcess
//-1483/econcess
</f:comment>											
											
											
										</div>

									</div>
									</f:for>

								</div>
							</div>
								
							</div>
						</div>
	</f:section>
	
	<f:section name="contentdetail">
												<div class="webinar_img">
													<f:for each="{webinare.bildobject}" as="file" iteration="iterator"><f:if condition="{iterator.isFirst}">
														<f:image image="{file}" width="350c" height="265c" />
													</f:if></f:for>
													<div class="webinar_kostenlos"><f:if condition="{webinare.grueneslabel} == '0'"><f:then>Kostenlos</f:then><f:else>Kostenpflichtig</f:else></f:if></div>
													<div class="webinar_date">
														<div class="webinar_date_day">
															{f:format.date(date:webinare.beginn, format:'d')}
														</div>
														
														<div class="webinar_date_month">
															{f:format.date(date:webinare.beginn, format:'%b. %Y')}
														</div>
													</div>
												</div>
												<div class="webinar_txt">
													<h3>{webinare.titel}</h3>
													<f:if condition="{webinare.teaser}">
														<f:then>
															{webinare.teaser -> f:format.crop(maxCharacters: '135', respectWordBoundaries:'1') -> f:format.stripTags() -> f:format.html()}
														</f:then>
														<f:else>
															{webinare.beschreibung -> f:format.crop(maxCharacters: '135', respectWordBoundaries:'1') -> f:format.stripTags() -> f:format.html()}
														</f:else>
													</f:if>
												</div>
												<div class="webinar_button">
													<span class="btn btn_blue"><f:if condition="{webinare.linktext} != ''"><f:then>{webinare.linktext} </f:then><f:else>Anmelden</f:else></f:if></span>
											</div>
	</f:section>
</html>