<f:comment>
//+2966/econcess
</f:comment>
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{newsRecordId}">
		<div class="container sectionindexcontainer">
<f:comment>
//+2515/econcess
</f:comment>
			<f:if condition="{myrecords-wo-standard-lang}">	
				<f:then>
					<f:for each="{myrecords-wo-standard-lang}" as="pagecontent-wo-standard">
						<ol>   
							<f:for each="{pagecontent-wo-standard.myrecords-wo-standard-lang-contents}" as="pagecontent-wo-standard-content">
								<f:if condition="{pagecontent-wo-standard-content.data.header}">
									<li>
										<a 
											title="{pagecontent-wo-standard-content.data.header}" 
											href="<f:uri.page additionalParams="{tx_news_pi1: {action: 'detail',controller: 'News',news: newsRecordId}}"></f:uri.page>#c{pagecontent-wo-standard-content.data.uid}"
										>
											<span>{pagecontent-wo-standard-content.data.header}</span>
										</a>
									</li>
								</f:if>
							</f:for>
						</ol>
					</f:for>
				</f:then>
				<f:else>
					<f:if condition="{myrecords}">			
						<ol>   
							<f:for each="{myrecords}" as="pagecontent">
								<f:if condition="{pagecontent.data.header}">
									<li>
										<a 
											title="{pagecontent.data.header}" 
											href="<f:uri.page additionalParams="{tx_news_pi1: {action: 'detail',controller: 'News',news: newsRecordId}}"></f:uri.page>#c{pagecontent.data.uid}"
										>
											<span>{pagecontent.data.header}</span>
										</a>
									</li>
								</f:if>
							</f:for>
						</ol>
					</f:if>
				</f:else>
			</f:if>	
<f:comment>
//-2515/econcess
</f:comment>							
		</div>
	</f:if>
</f:section>
<f:comment>
//+2966/econcess
</f:comment>