/menschzumensch.eu.20221018-iwgfubgiebeg.zip
/menschtest_2022-10-18_09-28-49.sql.zip
/index.php
/.htaccess
/vendor/
/typo3temp/
/typo3_src-11.5.24/
/typo3_src-11.5.12/
/typo3_src/
/typo3/
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/LocalConfiguration.php
/typo3conf/LocalConfiguration - Kopie.php
/typo3conf/PackageStates.php
/typo3conf/system/
/typo3conf/sites/
/typo3conf/l10n/
/typo3conf/autoload/
