<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<div class="calendar-month-overview">

		<div class="calendar-wrapper calendar-single-month">
			<f:for each="{yearData}" as="monthData" key="monthNo" iteration="monthItemIteration">
				<div class="calendar-month calendar-month-{monthNo}">
					<div class="calendar-month-inner">
					<div class="calendar-month-header bg-primary">
						<f:link.external uri="{uriPreviousMonth}" class="previous" title="{f:translate(key: 'tx_calendars_label.button_show_month_previous_title')}">
							<span class="{f:translate(key: 'tx_calendars_css.button_show_month_previous_icon')}"></span>
						</f:link.external>
						<span class="title"><f:translate key="tx_calendars_label.month_{monthNo}" /> {year}</span>
						<f:link.external uri="{uriNextMonth}" class="next" title="{f:translate(key: 'tx_calendars_label.button_show_month_next_title')}">
							<span class="{f:translate(key: 'tx_calendars_css.button_show_month_next_icon')}"></span>
						</f:link.external>
					</div>
					<div class="calendar-month-body">

						<ul class="calendar-week calendar-week-header">
							<li class="calendar-day-cell calendar-week-of-year"><span><f:translate key="tx_calendars_label.week_of_year_short" /></span></li>
							<li class="calendar-day-cell"><span><f:translate key="tx_calendars_label.day_of_week_short_1" /></span></li>
							<li class="calendar-day-cell"><span><f:translate key="tx_calendars_label.day_of_week_short_2" /></span></li>
							<li class="calendar-day-cell"><span><f:translate key="tx_calendars_label.day_of_week_short_3" /></span></li>
							<li class="calendar-day-cell"><span><f:translate key="tx_calendars_label.day_of_week_short_4" /></span></li>
							<li class="calendar-day-cell"><span><f:translate key="tx_calendars_label.day_of_week_short_5" /></span></li>
							<li class="calendar-day-cell"><span><f:translate key="tx_calendars_label.day_of_week_short_6" /></span></li>
							<li class="calendar-day-cell"><span><f:translate key="tx_calendars_label.day_of_week_short_7" /></span></li>
						</ul>

						<f:for each="{monthData}" as="weekOfYear" key="weekOfYearNo" iteration="weekOfYearItemIteration">

							<ul class="calendar-week">
								<li class="calendar-week-of-year calendar-day-cell">{weekOfYearNo}</li>
								<f:for each="{weekOfYear}" as="dayOfWeek" key="dayOfWeekNo" iteration="dayOfWeekItemIteration">
									<li class="{f:if(condition: itemIteration.isFirst, then: 'first')} {f:if(condition: itemIteration.isLast, then: 'last')} {dayOfWeek.cssClass} calendar-day-of-week calendar-day-cell">
										<f:if condition="{dayOfWeek.tooltipContent}">
											<f:then>
												<a class="has-popover" data-content="{dayOfWeek.tooltipContent}"><span>{dayOfWeek.dayOfMonth}</span></a>
											</f:then>
											<f:else>
												<span>{dayOfWeek.dayOfMonth}</span>
											</f:else>
										</f:if>
									</li>
								</f:for>
							</ul>

						</f:for>

					</div>
				</div>
				</div>
			</f:for>
		</div>
	</div>

</f:section>
</html>
