<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<div class="panel panel-default">
			<div class="panel-heading"><f:translate key="tx_calendars_label.event_details" /></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">

						<f:if condition="{f:count(subject: event.images)}">
							<f:then>
								<div class="event-image">
									<f:for each="{event.images}" as="image" iteration="itemIteration">
										<f:if condition="{itemIteration.isFirst}">
											<f:image src="{image.uid}" maxWidth="{settings.detail.image.width}" maxHeight="{settings.detail.image.height}"
													 alt="{image.originalResource.description}" title="{image.originalResource.title}"
													 treatIdAsReference="1" />
										</f:if>
									</f:for>
								</div>
							</f:then>
							<f:else>
								<div class="event-image default-image">
									<f:image src="{settings.defaultImage}" maxWidth="{settings.detail.image.width}"
											 maxHeight="{settings.detail.image.height}" alt="{event.title}" title="{event.title}" />
								</div>
							</f:else>
						</f:if>

					</div>
					<div class="col-md-9">
						<h3>{event.title}</h3>
						<h4>{event.subtitle}</h4>
						<dl class="dl-horizontal">
							<dt><f:translate key="tx_calendars_label.period" /></dt>
							<dd><f:render partial="Calendar/Rows/StartEnd" section="Default" arguments="{_all}" /></dd>

							<f:if condition="{event.ticketAmount} > 0">
								<dt><f:translate key="tx_calendars_label.tickets" /></dt>
								<dd><f:render partial="Calendar/Rows/Tickets" section="Default" arguments="{_all}" /></dd>
							</f:if>
							<f:if condition="{event.description}">
								<dt><f:translate key="tx_calendars_label.description" /></dt>
								<dd><f:format.html>{event.description}</f:format.html></dd>
							</f:if>

						</dl>
						<div class="event-buttons pull-right">
							<f:render partial="Calendar/Buttons/Registration" section="Default" arguments="{_all}" />
						</div>
						<div class="social-buttons">
							<f:for each="{settings.socialButtons}" as="social">
								<f:render partial="Calendar/Buttons/Social" section="{social}" />
							</f:for>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:section>
</html>
