<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<h1>Listing for Experten</h1>

		<f:flashMessages />

		<table  class="tx_mwwebinare" >
			<tr>
				<th><f:translate key="tx_mwwebinare_domain_model_experten.nachname" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_experten.vorname" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_experten.titel" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_experten.spezialgebiet" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_experten.beschreibung" /></th>
				<th><f:translate key="tx_mwwebinare_domain_model_experten.bild" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{expertens}" as="experten">
				<tr>
					<td><f:link.action action="show" arguments="{experten : experten}"> {experten.nachname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{experten : experten}"> {experten.vorname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{experten : experten}"> {experten.titel}</f:link.action></td>
					<td><f:link.action action="show" arguments="{experten : experten}"> {experten.spezialgebiet}</f:link.action></td>
					<td><f:link.action action="show" arguments="{experten : experten}"> {experten.beschreibung}</f:link.action></td>
					<td><f:link.action action="show" arguments="{experten : experten}"> {experten.bild.originalResource.name}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{experten : experten}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{experten : experten}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Experten</f:link.action>
	
	
	<f:section name="content">
		
		
		<div id="c37d" class="content-text content-text-page-introduction-h1_ padtop84 bg-light "
							data-content="text" data-layout="page-introduction-h1">
							<div class="container ">
								<div class="roundicon">
									<img src="typo3conf/ext/mwwebinare/Resources/Public/images/personen.svg" alt="">
								</div>
								<div class="body-text without-h1">
									<h2 class="text-center">{ttheader}</h2>
								</div>
								
								<div class="content-carousel owl-carousel owl-theme"
								 data-items="4"
								 data-xs-items="1"
								 data-sm-items="1"
								 data-md-items="2"
								 data-lg-items="3"
								 data-xl-items="4"
								 data-nav="0"
								 data-dots="1"
								 data-loop="0"
								 data-autoplay="0"
								 data-auto-height="0"
								 data-margin="30"
								 data-auto-width="0">

							<f:for each="{expertens}" as="experten">
									<div class="owl-carousel-item">
										<div class="referntbox">
											<f:link.action action="showexperten" arguments="{experten : experten}">
												<div class="referent_img">
													<f:if condition="{experten.bild}"><f:image image="{experten.bild}" width="468c" height="298c" /></f:if>
												</div>
												<div class="referent_txt">
													<h3><f:if condition="{experten.titel} != ''">{experten.titel} </f:if>{experten.vorname} {experten.nachname}</h3>
													<p>{experten.spezialgebiet}</p>
												</div>
											</f:link.action>
										</div>
									</div>
							</f:for>
									
								</div>
							</div>
						</div>
	</f:section>
</html>