<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:calendars="http://typo3.org/ns/CodingMs/Calendars/ViewHelpers">
	<f:section name="Default">

		<calendars:variable.set name="translationArguments" value="{0: event.title}" />
		<calendars:variable.set name="registrationPageUid" value="{settings.registration.pageUid}" />
		<f:if condition="{event.registrationPid}">
			<calendars:variable.set name="registrationPageUid" value="{event.registrationPid}" />
		</f:if>

		<f:if condition="{event.ticketAmount} > 0">
			<f:then>
				<f:if condition="{event.ticketsAvailable} > 0">
					<f:then>
						<f:link.action pageUid="{registrationPageUid}" arguments="{event: event}" action="showRegistration" controller="Registration"
									 class="{f:translate(key: 'tx_calendars_css.button_registration')}"
									 title="{f:translate(key:'tx_calendars_label.button_registration_title', arguments: translationArguments)}">
							<span class="{f:translate(key: 'tx_calendars_css.button_registration_icon')}"></span>
							<f:translate key="tx_calendars_label.button_registration" />
						</f:link.action>

					</f:then>
				</f:if>
			</f:then>
			<f:else>
				<f:link.action pageUid="{registrationPageUid}" arguments="{event: event}" action="showRegistration" controller="Registration"
							 class="{f:translate(key: 'tx_calendars_css.button_registration')}"
							 title="{f:translate(key:'tx_calendars_label.button_registration_title', arguments: translationArguments)}">
					<span class="{f:translate(key: 'tx_calendars_css.button_registration_icon')}"></span>
					<f:translate key="tx_calendars_label.button_registration" />
				</f:link.action>
			</f:else>
		</f:if>
	</f:section>
</html>
