<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:calendars="http://typo3.org/ns/CodingMs/Calendars/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:section name="Default">

		<calendars:variable.set name="translationArguments" value="{0: event.title}" />
		<f:link.action pageUid="{settings.detail.pageUid}" arguments="{event: event}" action="showEvent"
					 class="{f:translate(key: 'tx_calendars_css.button_event_detail')}"
					 title="{f:translate(key:'tx_calendars_label.button_event_detail_title', arguments: translationArguments)}">
			<span class="{f:translate(key: 'tx_calendars_css.button_event_detail_icon')}"></span>
			<f:translate key="tx_calendars_label.button_event_detail" />
		</f:link.action>

	</f:section>
</html>
