.padbot84 {
	padding-bottom: 84px;
}
.padtop84 {
	padding-top: 84px;
	padding-bottom: 90px;
}
.webinarbox {
	float: left;
	width: 100%;
	background: #ffffff;
	padding-bottom: 70px;
	margin-top: 30px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	text-align: center;
}
.webinarbox:hover {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.webinarbox a {
	text-decoration: none;
	font-weight: normal;
	color: #444444;
}
.webinarbox a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #444444;
}
.webinar_img {
	float: left;
	width: 100%;
	position: relative;
}
.webinar_img img {
	float: left;
	width: 100%;
	height: auto;
}
.webinar_kostenlos {
	position: absolute;
	top: 0;
	left: 0;
	background: #619312;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 33px;
	padding-left: 15px;
	padding-right: 15px;
}
.webinar_date {
	position: absolute;
	z-index: 10;
	width: 88px;
	left: 50%;
	margin-left: -44px;
	height: 88px;
	background: #0D4677;
	color: #ffffff;
	bottom: -28px;
	padding-top: 10px;
}
.webinar_date_day {
	font-size: 31px;
	font-weight: 700;
	line-height: 31px;
}
.webinar_date_month {
	font-size: 13px;
	font-weight: 700;
	display: inline-block;
	border-top: 1px solid #ffffff;
	line-height: normal;
	margin-top: 2px;
	padding-top: 3px;
}
.webinar_txt {
	float: left;
	width: 100%;
	padding-left: 26px;
	padding-right: 26px;
	line-height: 22px;
	padding-top: 60px;
}
.webinar_txt h3 {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
}
a.btn_blue, .btn_blue {
	background: #0D4677;
	color: #ffffff;
	display: inline-block;
	width: auto;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: 700;
}
.webinarbox a:hover .btn_blue, a.btn_blue:hover {
    background-color: #0e4677;
	color: #ffffff;
}
.webinarbox {
	float: left;
	width: 100%;
}
#containerisotop {
	margin-top: 44px;
}
.element-item {
	float: left;
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}
@media (max-width: 767px) {
	 .element-item {
		width: 100%;
	}
}
#filters, #filters2 {
	text-align: center;
}
#filters button, #filters2 button {
	background: #EFEFEF;
	color: #444444;
	display: inline-block;
	width: auto;
	font-size: 12px;
	font-weight: 700;
	text-transform: none;
	padding-top: 9px;
	padding-bottom: 9px;
	border: 0;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	font-family: "Roboto";
	margin-left: 5px;
	margin-right: 5px;
	min-width: 110px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#filters button.is-checked, #filters button:hover,
#filters2 button.is-checked, #filters2 button:hover{
	color: #ffffff;
	background: #0D4677;
}
.webi_txt {
	background: #3D3D3D;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 17px;
	min-height: 81px;
}
.webi_name {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}
.webi_date {
	font-size: 12px;
	line-height: normal;
	color: #D6D6D6;
	padding-top: 6px;
}
.webi_video, .webi_txt {
	float: left;
	width: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#morevideo {
	display: inline-block;
	background-image: url('images/pfeil.svg');
	background-position: top center;
	background-repeat: no-repeat;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: #444444;
	padding-top: 30px;
	margin-top: 25px;
	font-weight: 700;
	position: relative;
	width: 173px;
	text-align: center;
}
#morevideo::before {
	content: '';
	width: 173px;
	height: 1px;
	background: #444444;
	z-index: 10;
	display: block;
	position: absolute;
	top: 25px;
	left: 0%;
}
.roundicon {
	background: #0D4677;
	width: 132px;
	height: 132px;
	border-radius: 100%;
	text-align: center;
	line-height: 112px;
	margin: auto;
	border: 10px solid #ffffff;
	top: -130px;
	position: relative;
	margin-bottom: -85px;
}
.roundicon img {
	vertical-align: middle;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #0D4677;
}
.referntbox {
	float: left;
	width: 100%;
	background: #ffffff;
	font-size: 14px;
	text-align: center;
}
.referntbox a {
	text-decoration: none;
	font-weight: normal;
	color: #444444;
}
.referent_img {
	float: left;
	width: 100%;
}
.referent_img img {
	float: left;
	width: 100%;
	height: auto;
}
.referent_txt {
	float: left;
	width: 100%;
	text-align:center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 34px;
	min-height: 110px;
}
.referntbox a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #444444;
}
.referntbox h3 {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 4px;
	padding: 0;
}
.referntbox p {
	margin: 0;
	padding: 0;
	line-height: normal;
}
.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 47px;
}
.bg.bg-image-03 {
	background-image: url('images/cta.jpg');
}
.bg.bg-newsletter-subscription {
    padding-top: 40px;
    padding-bottom: 20px;
}
.bg.bg-image-03 .content-text h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.bg.bg-image-03 .content-text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
}
.acc_outer {
 	float: left;
  	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 4px;
	border: 1px solid #EAEAEA;
	background: #F7F7F7;
}
.acc_outer.open {
  	
}
.acc_head_o {
	display: table;
	width: 100%;
}
.acc_head {
	cursor: pointer;
	height: 60px;
	vertical-align: middle;
	display: table-cell;
	width: 100%;
	position: relative;
	font-size: 14px;
	font-weight: 700;
	padding-left: 20px;
	
	
}
.acc_head::before {
	content: '';
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("images/down.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 17px 17px;
}
.open .acc_head, .acc_head:hover {
  	color: #0D4677;
}
.open .acc_head::before {
	background-image: url("images/up.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 17px 17px;
}
.acc_content {
  	display: none;
  	float: left;
  	width: 100%;
	padding-left: 47px;
	padding-bottom: 20px;
	padding-right: 55px;
	padding-top: 0px;
}
.content-text-page-introduction-h1 .acc_content p {
	line-height: 22px;
}
.acc_content_i {
	border-top: 1px solid #979797;
	padding-top: 17px;
}
.content-text-image-products-big-image-text {
	padding-top: 0;
	padding-bottom: 80px;
}
.webinar-weitereinformation {
	font-size: 19px;
	line-height: 28px;
}

.col25 {
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
}
.margbot50 {
	margin-bottom: 50px;
}
@media (max-width: 1280px) {
	 .col25 {
		width: 50%;
		 max-width: 500px;
		padding-left: 15px;
		padding-right: 15px;
		 padding-bottom: 15px;
		display: inline-block;
	}
}
@media (max-width: 767px) {
	 .col25 {
		width: 100%;
		 max-width: 500px;
		padding-left: 15px;
		padding-right: 15px;
		 padding-bottom: 15px;
		display: inline-block;
	}
}
p {
    margin-top: 0;
    margin-bottom: 1.1rem;
}
.content-text-page-introduction-h1_padtop,
.page-layout-2 .content-text-page-introduction-h1 {
	padding-top: 120px;
	padding-bottom: 84px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #f8f9fa !important;
}
.content-text-page-introduction-h1_padtop.bg_white,
.page-layout-2 .content-text-page-introduction-h1.bg_white {
	background: #ffffff !important;
}
.page-layout-2 .content-text-page-introduction-h1.nopadding {
	padding-top: 0;
	padding-bottom: 80px;
}
.page-layout-2 .content-text-page-introduction-h1.padtop20 {
	padding-top: 20px;
	padding-bottom: 50px;
}

.content-text-page-introduction-h1_padtop  .body-text.without-h1,
.page-layout-2 .content-text-page-introduction-h1  .body-text.without-h1 {
	max-width: 805px;
	margin: auto;
}
.page-layout-2 .content-text-page-introduction-h1 p {
	line-height: 24px;
}
