<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:calendars="http://typo3.org/ns/CodingMs/Calendars/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:section name="Default">
		<f:if condition="{event.ticketAmount} > 0">
			<f:if condition="{event.ticketsAvailable} == 0">
				<f:then>
					<span class="text-danger"><f:translate key="tx_calendars_message.error_no_tickets_left" /></span>
					<br />
				</f:then>
				<f:else>
					<calendars:variable.set name="translationArguments" value="{0: event.ticketsAvailable, 1: event.ticketAmount}" />
					<span class="text-success"><f:translate key="tx_calendars_message.ok_some_tickets_available" arguments="{translationArguments}" /></span>
					<br />
				</f:else>
			</f:if>
		</f:if>
	</f:section>
</html>
