<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:section name="Default">

		<div class="card">
			<div class="card-body">

				<div class="row">
					<div class="col-md-3">

						<f:if condition="{f:count(subject: event.images)}">
							<f:then>
									<f:for each="{event.images}" as="image" iteration="itemIteration">
										<div class="event-image">
											<f:image src="{image.uid}" maxWidth="{settings.list.image.width}" maxHeight="{settings.list.image.height}"
													 alt="{image.originalResource.description}" title="{image.originalResource.title}"
													 treatIdAsReference="1" />
										</div>
									</f:for>
							</f:then>
							<f:else>
								<div class="event-image default-image">
									<f:image src="{settings.defaultImage}" maxWidth="{settings.list.image.width}"
											 maxHeight="{settings.list.image.height}" alt="{event.title}" title="{event.title}" />
								</div>
							</f:else>
						</f:if>

					</div>
					<div class="col-md-9">
						<f:if condition="{event.title}">
							<h3 class="event-title">{event.title}</h3>
						</f:if>
						<f:if condition="{event.subtitle}">
							<h4 class="event-subtitle">{event.subtitle}</h4>
						</f:if>

						<f:render partial="Calendar/Rows/StartEnd" section="Default" arguments="{_all}" />
						<f:render partial="Calendar/Rows/Tickets" section="Default" arguments="{_all}" />

						<f:if condition="{event.teaser}">
							<div class="event-description">
								<f:if condition="{settings.list.descriptionCrop}">
									<f:then>
										<f:format.crop maxCharacters="{settings.list.descriptionCrop}">{event.teaser}</f:format.crop>
									</f:then>
									<f:else>
										{event.teaser}
									</f:else>
								</f:if>
							</div>
						</f:if>
						<div class="event-buttons pull-right">
							<f:if condition="!{event.hideLinksToDetailView}">
								<f:render partial="Calendar/Buttons/ShowEvent" section="Default" arguments="{_all}" />
							</f:if>
							<f:render partial="Calendar/Buttons/Registration" section="Default" arguments="{_all}" />
						</div>
					</div>
				</div>

			</div>
		</div>

	</f:section>
</html>
